<div class="container">
  <div class="row my-5">
    <div class="mx-auto col-6">
      <h2 class="d-flex align-items-center justify-content-center">宛先部署を選択して下さい</h2>
    </div>
  </div>
  <div class="row">
    <div class="btn_custom mx-auto col-3">
      <%= form_with url:new_public_work_path, method: :get do |f| %>
      <table class="table">
        <tr>
          <th class="col-6">送り先</th>
          <td class="col-6"><%= f.collection_select :target_department, @departments, :id, :name %></td>
        </tr>
      </table>
      <%= f.submit "入力画面へ", class:"btn btn-info col-6" %>
      <% end %>
    </div>
  </div>
</div>