<table>
  <%= form_with(model:[work, work_comment], url:public_work_comments_path, local: true) do |f| %>
    <tr>
      <td class="col-11">
        <%= f.text_area :comment, class:"form-control" %>
        <%= f.hidden_field :work_id, value: work.id %>
      </td>
      <td class="col-1">
        <%= f.submit "送信する", class:"btn btn-primary " %>
      </td>
    </tr>
  <% end %>
</table>